html {
		scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: radial-gradient(ellipse at center, #cfd9df, #e2ebf0), url("ressurser/square_bg.png");
	background-blend-mode: overlay;
	background-repeat: repeat;
}




/*------------------------------------*\
  #FORSIDE
\*------------------------------------*/

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.forsidesirkel img:hover {
		animation: none !important;
	}
	.forsidesirkel img {
		animation: none !important;
	}
}

.forsideContainer {
  background-image: url(ressurser/legemedipadtransparent.png);
  height: 100vh;
  background-size: cover;
}

.header {
  padding-bottom: 5px;
  padding-top: 5px;
  height: 10vh;
  width: 95vw;
}

.header h1 {
  font-size: 5em;
  color: rgb(194, 37, 73);
  margin: 0;
  text-shadow: 0 1px 2px rgba(0,0,0,0.20);
  position: absolute;
  left: 50vw;
  transform: translate(-50%);
}
h3 {
	font-size:150%;
	margin-left:5%;
	margin-top:0;
	color:#333333;
	text-shadow: 0 1px 2px rgba(0,0,0,0.20);
}

.forsidesirkel {
	position: absolute;
  height: 400px;
  width: 	400px;
	top: 		50%;
	left: 	50%;
  margin: 0 auto;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.7);

  transform: translate(-50%,-50%);
}

.forsidesirkel img {
	position: absolute;
  height: 60%;
  left: 	50%;
  top: 		50%;

  transform: translate(-50%,-50%);
  animation: levitate 1.2s alternate ease-in-out infinite; /* Sveve-animasjonen */
  transition: all .5s ease-in-out;
}

.forsidesirkel img:hover {
  cursor: pointer;
  height: calc(60% + 8%);
}


/* For sveveanimasjon */
@keyframes levitate {
  0% {
    transform: translate(-50%, -50%);
  }

  100% {
    transform: translate(-50%, -55%);
  }
}




/* popup bakgrunn */
.popup {
  display: none;
  position: fixed;

  z-index: 1;

  left: 	0;
  top: 		0;
  width: 	100%;
  height: 100%;

  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.5);
}


.videoOverlay {
  background-color: #fefefe;
  margin:  15vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}


.appOverlay {
  background-color: #fefefe;
  margin:  15vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
	text-align: center;
}


.video {
  width: 100%;
}
.noscript {
	text-align:center;
	background-color:#f2f2f2;
	padding:2% 0 2% 0;
	color:red;
	font-weight:bold;
}



/*------------------------------------*\
  #HOVEDSIDE
\*------------------------------------*/

.sideContainer {
	background-attachment: fixed;
	color: #333333;
	line-height: 1.5;
	margin:  0;
	padding: 0;
}

.sitat {
	font-size: 200%;
	font-style: italic;
	position: relative;
	margin:5% !important;
}

.mainContentBox {
	width: 60%;
	background-color: #f2f2f2;
	margin-left:   5%;
	margin-top:    3%;
	margin-bottom: 0%;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	display: inline-block;
	word-wrap: break-word;
}

.floatLeftParagraph {
	position: relative;
}

.mainContentBox p {
	margin: 1% 5% 2.5% 5%;
	min-width: 50%;
}

.floatRightBilde {
	position: relative;
	max-width: 300px;

}
.figcaption {
	float:right;
	position: relative;

	z-index: 4;
}

figure {
	margin:0;
}

.bildetekst {
	position: relative;
	width:300px;
	float: right;
	border: 1px solid #F03434;
	margin-right: 0.5%;
	text-align: center;
	font-style: italic;

	z-index: 3;

}

.bildetekst2 {
	width:300px;
	float:right;
	margin-right: 7%;
	margin-left: 5%;
	text-align: center;
}

ol {
	margin-left: 5%;
}

.mainContentBox h2{
	margin: 5% 5% 0 5%;
}

/*------------------------------------*\
  #KNAPPER
\*------------------------------------*/

button {
	background-color: #446CB3;
	border: rgb(108, 122, 137); solid 1px;
	text-align: center;
	width: 150px;
	height: 28px;
	transition: all 0.2s;
	padding-top: 6px;
	padding-bottom: 22px;
	color: white;
	font-size: 16px;
	margin:2% 0 2% 0;
	box-shadow: 0px 2px 2px black;


}
button:hover{
	outline: 1px #F03434 solid;

	cursor:pointer;
}
button:focus{
transform: translate(0, 2px);
transition: all 0s;
}
.popupKryss {
	padding-bottom:5px;
	float:right;
	color:#333333;
}
.popupKryss:hover {
	cursor: pointer;
}
.popupKryss:focus {
	outline: 3px rgb(0,0,255) solid;
}

/*------------------------------------*\
  #CONTENTHEADERS
\*------------------------------------*/

.mainContentHeader {
	width: 100%;
	background-color: #F03434; /* RØD */
	display: inline-block;
}

.logo {
	background-image:  url("ressurser/logo.png");
	background-repeat: no-repeat;
	background-size:   cover;
	background-size:   280px;
	height: 100px;
	margin-top:  10px;
	margin-left: 5%;
}

.mainContentHeader h1 {
	color: white;
	font-size: 2.5em;
	padding-left: 1em;
	text-shadow: 0 1px 2px rgba(0,0,0,0.20);
}

.secondContentHeader {
	width: 100%;
	background-color: #446CB3; /* BLÅ */
	display: inline-block;
}

.secondContentHeader h2 {
	color: white;
	font-size: 2em;
	padding-left: 1em;
	padding: 0;
	text-shadow: 0 1px 2px rgba(0,0,0,0.20);
}

.thirdContentHeader {
	width: 100%;
	background-color: #D2527F; /* rosa */
	display: inline-block;
}

.thirdContentHeader h2 {
	color: white;
	font-size: 2em;
	padding-left: 1em;
	padding:      0;
	text-shadow: 0 1px 2px rgba(0,0,0,0.20);
}
.fourthContentHeader {
	width: 100%;
	background-color: rgb(39, 174, 96); /* GRØNN */
	display: inline-block;
}

.fourthContentHeader h2 {
	color: white;
	font-size: 2em;
	padding-left: 1em;
	padding:      0;
	text-shadow: 0 1px 2px rgba(0,0,0,0.20);
}

.fifthContentHeader {
	width: 100%;
	background-color: rgb(246, 71, 71); /* ORANSJE */
	display: inline-block;
}

.fifthContentHeader h2 {
	color: white;
	font-size: 2em;
	padding-left: 1em;
	padding:      0;
	text-shadow: 0 1px 2px rgba(0,0,0,0.20);
}

.sixthContentHeader {
	width: 100%;
	background-color: rgb(145, 61, 136); /* LILLA */
	display: inline-block;
}

.sixthContentHeader h2 {
	color: white;
	font-size: 2em;
	padding-left: 1em;
	padding:      0;
	text-shadow: 0 1px 2px rgba(0,0,0,0.20);
}





/*------------------------------------*\
  #MENY
\*------------------------------------*/

.sideBarBox {
	width: 20%;
	background-color: #f2f2f2;
	float: right;
	margin-top:   106vh;
	margin-right: 14%;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	position: absolute;
	top:   0;
	right: 0;
	word-wrap: break-word;
}

.fixed {
	position: fixed;
	margin-top: 6vh;
}

.sideBarBoxHeader {
	width: 100%;
	background-color: #EC644B;
	float: right;
}

.sideBarBox a {
	text-decoration: none;
	color: #333333;
}

.sideBarBoxHeader h2{
	color: white;
	padding-left: 1em;
	float: left;
	text-shadow: 0 1px 2px rgba(0,0,0,0.20);
}
.sideBarBox li {
	padding: 5% 5% 5% 0%;
	font-weight: bold;
	margin-right: 20%;
	border-width: 3px;
	border: 2px solid transparent;

	transition: all 0.3s ease-in-out;

	background-origin: border-box;
	background-size: 100% 2px;
	background-position: bottom right, bottom left;
	background-repeat: no-repeat;

	transition: all 0.3s ease-in-out;
}

.grad1 {
	background-image:linear-gradient(90deg,#F03434, #F03434);
}

.grad2 {
	background-image: linear-gradient(90deg, #446CB3, #446CB3);
}

.grad3 {
	background-image: linear-gradient(90deg, #D2527F, #D2527F);
}

.grad4 {
	background-image: linear-gradient(90deg, #27AE60, #27AE60);
}

.grad5 {
	background-image: linear-gradient(90deg, #F64747, #F64747);
}

.grad6 {
	background-image: linear-gradient(90deg, #913D88, #913D88);
}

.grad7 {
	background-image: linear-gradient(90deg, #F03434, #446CB3, #D2527F, #27AE60, #F64747, #913D88);
}


@keyframes gradient {
	0%	{background-image:51% 0%}
  50%	{background-image:50% 100%}
  100%{background-image:51% 0%}
}


.sideBarBox a {
	display: block;
}

.UKflag {
	border-bottom: 0px !important;
}

.sideBarBox ul {
	list-style: none;
	margin-top: 5em;
}


 /* UK flag */
.sideBarBox ul img {
	position: relative;
	left: 70%;

	transform: scale(0.7);
}

.sideBarBox li:hover {
	margin-left: 2%;
}

#accessibilityBox {
	position: absolute;
	width: 200px;
	background-color: white;
	border: 1px solid black;
	font-family: sans-serif;
	line-height: 1.6;
}


.hidden {
	visibility: hidden;
}

.hiddenOnDesktop {
	display: none;
}




/*------------------------------------*\
  #PROGRESSBAR
\*------------------------------------*/

.progressbar-bak {
	height: 5px;
	width:  100vw;
	position: fixed;
	bottom: 0;

	z-index: 0;
}

#progressbar-frem {
	height: 100%;
	background-color: #333333;

	z-index: 1;

	transition: all 0.1s linear;
}

@media screen and (max-width: 1200px) {
	.sideBarBox {
		width: 25%;
		margin-right: 9%;
	}
}


@media screen and (max-width: 800px) {
	.mainContentBox {
		width:100vw;
		float:none;
		margin-left:0;
		margin-right:0;
	}

	.mainContentBox p {
		width:90%;
		float:none;
	}

	.sideBarBoxHeader {
		display:none;
	}
	#menuToggle {
		padding:10px;

		border-radius:10%;
	}

	#menuToggle span {
		display: block;
		width: 60px;
		height: 8px;
		margin-bottom: 6px;
		position: relative;

		transform-origin: 4px 0px;
		transition: transform 0.5s cubic-bezier(0.9,0.2,0.05,1.0),
		background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
		opacity 0.55s ease;

		background: #333333;
		border-radius: 3px;
		z-index: 2;
		box-shadow:0 1px 2px rgba(0,0,0,0.20);
	}

	#menuToggle span:first-child {
	  transform-origin: 0% 0%;
	}

	#menuToggle span:nth-last-child(2) {
	  transform-origin: 0% 100%;
	}

	#menuToggle input {
		display: block;
		width: 98px;
		height: 98px;
		position: fixed;
		top: 20px;
		right: 1em;
		cursor: pointer;
		opacity: 0;

		z-index: 4;
	}

	/* Gjør spansene om til kryss */
	#menuToggle input:checked ~ span	{
	  transform: rotate(45deg) translate(-5px, -2px);
	  background: #F03434;
	}

	/* midt-span skjuling */
	#menuToggle input:checked ~ span:nth-last-child(3) {
	  opacity: 0;
	  transform: rotate(0deg) scale(0.2, 0.2);
	}

	/* snur nederste span */
	#menuToggle input:checked ~ span:nth-last-child(2) {
	  transform: rotate(-45deg) translate(0, 0px);
	}

	#menuToggle {
	  display: block;
	  position: fixed;
	  top: 50px;
	  right: 0.2em;
	  z-index: 4;
	  -webkit-user-select: none;
	  user-select: none;
	}

	#menuToggle input:checked ~ ul {
	  transform: translateX(-100%);
	}


	/*meny plassert utenfor skjerm*/
	#menu {
	  position: fixed;
	  width: 100%;
		height:100%;
	  margin: -100% 0 0 50%;
	  padding: 50px;
		padding-left: 500px;
	  padding-top: 100%;
	  background: #ededed;
	  list-style-type: none;

		z-index: 1;

	  transform-origin: 0% 0%;
	  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	}

	#menuBakgrunn {
		display: block;
		position: absolute;
		background-color: #EC644B;
		height: 60px;
		width: 100px;
		top: -0.2em;
		left: 40%;
		box-shadow: 0 3px 6px -6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
		z-index: 0;
	}

	#mBSirkel {
		display: block;
		position: absolute;
		background-color: #EC644B;
		border-radius: 100%;
		width: 60px;
		height: 60px;
		top: 0em;
		left: -33%;

		z-index: 3;
	}

	#menu li {
	  padding: 10px 0;
	  font-size: 22px;
	}

	.forsidesirkel {
    height: 300px;
    width: 300px;
  }

	.header h1 {
		font-size: 3em;
	}

	.videoOverlay {
		margin:  30vh auto;
		padding: 5px;
		width: 95%;
	}

	.forsideContainer {
	  background-image:    url(ressurser/legemedipadmobil.png);
		background-repeat:   no-repeat;
		background-position: center;
	}

	.floatRightBilde {
		float:none;
		display:block;
		margin:0 auto;
	}
	.bildetekst {
		float:none;
		margin:0 auto;
	}

	.appOverlay {
	  background-color: #fefefe;
	  margin: 15vh auto;
		text-align: center;
		width: auto;
	}

	.appOverlay iframe {
		width: auto;
	}
	a {
		display:block;
	}
}
