body {
	margin:0;
	padding:0;
	background-color: #F2F2F2;
	font-family:sans-serif;
	color:#333333;
	line-height:1.5;
	overflow-x: hidden;
	scroll-behavior: smooth;
}


/*FORSIDE START*/
.topspanbg {
	position: relative;
  height: 7em;
  background: linear-gradient(0deg, #0077aa, #19aaaa), url("square_bg.png");
  background-blend-mode: overlay;
}

#forsiden {
	min-width: 100vw;
}

img {
  height: auto;
  padding: 6px 0 0 10px;
  max-width: 8em;
}

.topspan {
	float: right;
  width: 265%;
  height: 40em;
  border-radius: 100%;
  background: #F2F2F2;
  position: relative;
  left: 30%;
  transform: rotate(-6deg);
	margin-bottom: -35em;

	z-index: 3;
}

.video {
  position: relative;
  display: block;
  box-shadow: none;
  margin: auto;
  margin-bottom: 10vh;

  z-index: 5;
}

video {
  min-width: 60vw;
  max-width: 80vw;
}

/* Området man trykker */
#arrow-toggle {
  display: block;
  position: relative;
  height: 7em;
  width: 9em;
  opacity: 0;
  margin: auto;
  margin-bottom: -5em;


  z-index: 5;

  cursor: pointer;
}


section:hover > .arrows {
  animation: gradient 2s ease infinite;

  width: 35px;
  transition: 0.5s;
  transition-timing-function: cubic-bezier(.26,.29,.42,.81);
}

@keyframes gradient {
	0%	{background-position:51% 0%}
  50%	{background-position:50% 100%}
  100%{background-position:51% 0%}
}

.arrows:hover {
  animation: gradient 2s ease infinite;
}


.arrows {
  display: block;
  height: 2px;
  width: 60px;
  position: relative;
  margin-left: 50%;
  margin-right: 50%;

  z-index: 4;

  background: linear-gradient(180deg, #0077aa, #19aaaa);
  background-size: 100% 200%;

  transition: width 0.8s ease-out;
}

#arrow {
  transform-origin: 6px 15px;
  transform: rotate(-135deg);
}

#arrow2 {
  transform-origin: 30px 13.2px;
  transform: rotate(-45deg);
}

#arrowtext {
  display: block;
  position: relative;
  font-size: 16px;
  color: #003140;
  margin: auto;
  margin-top: 2em;
  margin-bottom: -7em;
  width: 100px;
  text-align: center;

  z-index: 4;
}

/*lager buen som går mot høyre*/
.spanner {
	float: right;
  width: 265%;
  height: 14em;
  border-radius: 100%;
  background: #F2F2F2;
  position: relative;
  right: -5%;
  transform: rotate(-1deg);
	margin-top: -5em;

	z-index: 3;
}

/*muligheten for noe inne i kurvene*/
.spanner div {
  font-size: 32px;
  text-align: center;
  position: relative;
  left: 70vw;
  bottom: -120%;
}

/*bakgrunnen som gjør at man ser buene over og under*/
.spannerbackground {
  margin-top: 4em;
  height: 10em;
	position: relative;
  background: linear-gradient(to right, #18A9AA, #1199A9, #19A8A9), url("square_bg.png");
	background-size: 200% 200%;
	background-size: contain;
  background-blend-mode: overlay;
  background-repeat: repeat;

	z-index: 1;
}

/*FORSIDE SLUTT*/

#hovedsiden {
	position: relative;
	background: radial-gradient(ellipse at center, #0077aa, #19aaaa), url("square_bg.png");
	background-blend-mode: overlay;
	background-repeat: repeat;

	z-index: 5;
}

.sitat {
	font-size:200%;
	font-style:italic;
	position:relative;
	margin-bottom:0 !important;
}

.mainContentBox {
	margin-top: 5em;
	position: relative;
	width:60%;
	background-color:#f2f2f2;
	margin-left:20vw;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	display:inline-block;
	word-wrap: break-word;
	margin-bottom: 4em;

	z-index: 3;

}
.floatLeftParagraph {
	float:left;
	width:50%;
}
.mainContentBox p {
	margin:5% 5% 5% 5%;
}
ol {
	margin-left:5%;
}
.mainContentBox h2{
	margin: 5% 5% 0 5%;
}
.mainContentHeader {
	width:100%;
	background-color:#F03434; /* RØD */
	/*height:80px;*/
	display:inline-block;
}
.logo {
	background-image:url("logo.png");
	background-repeat: no-repeat;
	background-size:cover;
	height:100px;
	background-size:280px;
	margin-top:10px;
	margin-left:5%;

}
.mainContentHeader h1 {
	color:white;
	font-size:2.5em;
	padding-left:1em;
	text-shadow:0 1px 2px rgba(0,0,0,0.20);
}
.secondContentHeader {
	width:100%;
	background-color:#446CB3; /* BLÅ */
	/*height:80px;*/
	display:inline-block;
}
.secondContentHeader h2 {
	color:white;
	font-size:2em;
	padding-left:1em;
	padding:0;
	text-shadow:0 1px 2px rgba(0,0,0,0.20);
}
.thirdContentHeader {
	width:100%;
	background-color:#F7CA18; /* GUL */
	/*height:80px;*/
	display:inline-block;

}
.thirdContentHeader h2 {
	color:white;
	font-size:2em;
	padding-left:1em;
	padding:0;
	text-shadow:0 1px 2px rgba(0,0,0,0.20);
}

.sideBarBox {
	width:20%;
	background-color:#f2f2f2;
	float:right;
	margin-top:3%;
	margin-right:14%;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	position:fixed;
	top:0;
	right:0;
	word-wrap: break-word;

	z-index: 5;
}
.sideBarBoxHeader {
	width:100%;
	background-color:#EC644B;


	float:right;
}
.sideBarBox a {
	text-decoration:none;
	color:#333333;
}
.sideBarBoxHeader h2{
	color:white;
	padding-left:1em;
	float:left;
	text-shadow:0 1px 2px rgba(0,0,0,0.20);
}
.sideBarBox li {
	padding:5% 5% 5% 0%;
	font-weight:bold;
	margin-right:20%;
	border-bottom: 2px solid #446CB3;
	transition:all 0.3s ease-in-out;
}

.sideBarBox ul {
	list-style:none;
	margin-top:5em;
}
.sideBarBox ul img { /* uk flag */
	position:relative;
	left:80%;
	transform:scale(0.7);
}
.sideBarBox li:hover {
	margin-left:2%;
}
#ipad {
	float:right;
	width:300px;
	margin-top:5%;
	margin-right:5%;
}

#accessibilityBox {
	position:absolute;
	width:200px;
	background-color:white;
	border: 1px solid black;
}
.hidden {
	visibility:hidden;
}
.hiddenOnDesktop {
	display:none;
}
.progressbar-bak {
	height:5px;
	width:100vw;
	position:fixed;
	bottom:0;
	z-index:5;
}
#progressbar-frem {
	height:100%;
	background-color:#333333;
	z-index:1;
	transition:all 0.1s linear;

	z-index: 5;
}

@media screen and (max-width: 800px) {
	.mainContentBox {
		width:90%;
		float:none;
	}
	.mainContentBox p {
		width:90%;
		float:none;
	}
	.sideBarBox {
		float:right;
		margin:0;
		height:100%;
		width:0;
		font-size:200%;
	}

	#menuToggle span {
		display: block;
		width: 60px;
		height: 8px;
		margin-bottom: 6px;
		position: relative;
		transform-origin: 4px 0px;
		transition: transform 0.5s cubic-bezier(0.9,0.2,0.05,1.0),
		background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
		opacity 0.55s ease;
		background: #333333;
		border-radius: 3px;
		z-index: 1;
		box-shadow:0 1px 2px rgba(0,0,0,0.20);
	}

	#menuToggle span:first-child {
	  transform-origin: 0% 0%;
	}
	#menuToggle span:nth-last-child(2) {
	  transform-origin: 0% 100%;
	}

	#menuToggle input {
		display: block;
		width: 90px;
		height: 98px;
		position: fixed;
		top: 20px;
		right: 3em;

		cursor: pointer;

		opacity: 0;
		z-index: 2;
	}

	#menuToggle input:checked ~ span	{
	  transform: rotate(45deg) translate(-5px, 1px);
	  background: #F03434;
	}

	#menuToggle input:checked ~ span:nth-last-child(3)
	{
	  opacity: 0;
	  transform: rotate(0deg) scale(0.2, 0.2);
	}

	#menuToggle input:checked ~ span:nth-last-child(2) {
	  transform: rotate(-45deg) translate(0, 0px);
	}

	#menuToggle {
	  display: block;
	  position: fixed;
	  top: 50px;
	  right: 1.5em;
	  z-index: 1;
	  -webkit-user-select: none;
	  user-select: none;
	}
	#menuToggle input:checked ~ ul {
	  transform: translateX(-100%);
	}

	#menu {
	  position: fixed;
	  width: 100%;
		height:100%;
	  margin: -100% 0 0 50%;
	  padding: 50px;
		padding-left: 500px;
	  padding-top: 100%;
	  background: #ededed;
	  list-style-type: none;
	  transform-origin: 0% 0%;
	  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	}

	#menu li {
	  padding: 10px 0;
	  font-size: 22px;

	}

}
