body {
	margin:0;
	padding:0;
	background-color:;
	font-family:sans-serif;
	background-image:url("square_bg.png");
}

/* forside */
.forsideContainer {
  background-image:url(legemedipadtransparent.png);
  height:100vh;
  background-size:cover;

}


.header {
  padding-bottom:5px;
  padding-top:5px;
  height:10vh;
  width:95vw;
}
.header h1 {
  font-size:5em;
  color:rgb(194, 37, 73);
  margin:0;
  text-shadow:0 1px 2px rgba(0,0,0,0.20);
  position:absolute;
  left:50vw;
  transform:translate(-50%);
}
.forsidesirkel {
  height:60%;
  width:30%;
  margin:0 auto;
  border-radius:50%;
  background-color:rgba(255,255,255,0.7);
  /* Sentrerer horisontalt og vertikalt */
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
.forsidesirkel img {
  height:60%;
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  animation: levitate 1.2s alternate ease-in-out infinite; /* Sveve-animasjonen */
  transition: all .5s ease-in-out;
}

.forsidesirkel img:hover {
  cursor:pointer;
  height:calc(60% + 8%);
}

@keyframes levitate { /* For sveveanimasjon */
  0% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-50%, -55%);
  }
}
/* popup bakgrunn */
.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
}


.videoOverlay {
    background-color: #fefefe;
    margin: 15vh auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}
.video {
  width:100%;
}

/* forside over */

.sideContainer {
	background-attachment: fixed;

	color:#333333;
	line-height:1.5;
	margin:0;
	padding:0;
}

* {
	scroll-behavior: smooth;
}


.sitat {
	font-size:200%;
	font-style:italic;
	position:relative;
	margin-bottom:0 !important;
}

.mainContentBox {
	width:60%;
	background-color:#f2f2f2;
	margin-left:5%;
	margin-top:3%;
	margin-bottom:0%;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	display:inline-block;
	word-wrap: break-word;

}
.floatLeftParagraph {
	float:left;
	width:50%;
}
.mainContentBox p {
	margin:5% 5% 5% 5%;
}
ol {
	margin-left:5%;
}
.mainContentBox h2{
	margin: 5% 5% 0 5%;
}
.mainContentHeader {
	width:100%;
	background-color:#F03434; /* RØD */
	/*height:80px;*/
	display:inline-block;
}
.logo {
	background-image:url("logo.png");
	background-repeat: no-repeat;
	background-size:cover;
	height:100px;
	background-size:280px;
	margin-top:10px;
	margin-left:5%;

}
.mainContentHeader h1 {
	color:white;
	font-size:2.5em;
	padding-left:1em;
	text-shadow:0 1px 2px rgba(0,0,0,0.20);
}
.secondContentHeader {
	width:100%;
	background-color:#446CB3; /* BLÅ */
	/*height:80px;*/
	display:inline-block;
}
.secondContentHeader h2 {
	color:white;
	font-size:2em;
	padding-left:1em;
	padding:0;
	text-shadow:0 1px 2px rgba(0,0,0,0.20);
}
.thirdContentHeader {
	width:100%;
	background-color:#F7CA18; /* GUL */
	display:inline-block;
}
.thirdContentHeader h2 {
	color:white;
	font-size:2em;
	padding-left:1em;
	padding:0;
	text-shadow:0 1px 2px rgba(0,0,0,0.20);
}
.fourthContentHeader {
	width:100%;
	background-color:rgb(39, 174, 96); /* GRØNN */
	display:inline-block;
}
.fourthContentHeader h2 {
	color:white;
	font-size:2em;
	padding-left:1em;
	padding:0;
	text-shadow:0 1px 2px rgba(0,0,0,0.20);
}

.sideBarBox {
	width:20%;
	background-color:#f2f2f2;
	float:right;
	margin-top:106vh;
	margin-right:14%;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	position:absolute;
	top:0;
	right:0;
	word-wrap: break-word;
}

.fixed {
	position:fixed;
	margin-top:6vh;
}

.sideBarBoxHeader {
	width:100%;
	background-color:#EC644B;
	float:right;
}


.sideBarBox a {
	text-decoration:none;
	color:#333333;
}
.sideBarBoxHeader h2{
	color:white;
	padding-left:1em;
	float:left;
	text-shadow:0 1px 2px rgba(0,0,0,0.20);
}
.sideBarBox li {
	padding:5% 5% 5% 0%;
	font-weight:bold;
	margin-right:20%;
	border-bottom: 2px solid #446CB3;
	transition:all 0.3s ease-in-out;
}

.sideBarBox ul {
	list-style:none;
	margin-top:5em;
}
.sideBarBox ul img { /* uk flag */
	position:relative;
	left:80%;
	transform:scale(0.7);
}
.sideBarBox li:hover {
	margin-left:2%;
}
#ipad {
	float:right;
	width:300px;
	margin-top:5%;
	margin-right:5%;
}

#accessibilityBox {
	position:absolute;
	width:200px;
	background-color:white;
	border: 1px solid black;
}
.hidden {
	visibility:hidden;
}
.hiddenOnDesktop {
	display:none;
}
.progressbar-bak {
	height:5px;
	width:100vw;
	position:fixed;
	bottom:0;
	z-index:0;
}
#progressbar-frem {
	height:100%;
	background-color:#333333;
	z-index:1;
	transition:all 0.1s linear;

}



@media screen and (max-width: 800px) {
	.mainContentBox {
		width:90%;
		float:none;
	}
	.mainContentBox p {
		width:90%;
		float:none;
	}
.sideBarBoxHeader {
	display:none;
}


	#menuToggle span {
			display: block;
			width: 60px;
			height: 8px;
			margin-bottom: 6px;
			position: relative;
			transform-origin: 4px 0px;
			transition: transform 0.5s cubic-bezier(0.9,0.2,0.05,1.0),
			background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
			opacity 0.55s ease;
			background: #333333;
			border-radius: 3px;
			z-index: 1;
			box-shadow:0 1px 2px rgba(0,0,0,0.20);
		}


		#menuToggle span:first-child {
		  transform-origin: 0% 0%;
		}
		#menuToggle span:nth-last-child(2) {
		  transform-origin: 0% 100%;
		}

		#menuToggle input {
			display: block;
			width: 90px;
			height: 98px;
			position: fixed;
			top: 20px;
			right: 3em;
			cursor: pointer;
			opacity: 0; /* hide this */
			z-index: 2; /* and place it over the hamburger */
			-webkit-touch-callout: none;
		}


		/*
		 * Transform all the slices of hamburger
		 * into a crossmark.
		 */
		#menuToggle input:checked ~ span	{
		  transform: rotate(45deg) translate(-5px, 1px);
		  background: #F03434;
		}
		/*
		 * But let's hide the middle one.
		 */
		#menuToggle input:checked ~ span:nth-last-child(3)
		{
		  opacity: 0;
		  transform: rotate(0deg) scale(0.2, 0.2);
		}

		/*
		 * Ohyeah and the last one should go the other direction
		 */
		#menuToggle input:checked ~ span:nth-last-child(2) {
		  transform: rotate(-45deg) translate(0, 0px);
		}

		#menuToggle {
		  display: block;
		  position: fixed;
		  top: 50px;
		  right: 1.5em;
		  z-index: 1;
		  -webkit-user-select: none;
		  user-select: none;
		}
		#menuToggle input:checked ~ ul {
		  transform: translateX(-100%);
		}


		/*
		 * Make this absolute positioned
		 * at the top left of the screen
		 */
		#menu {
		  position: fixed;
		  width: 100%;
			height:100%;
		  margin: -100% 0 0 50%;
		  padding: 50px;
			padding-left: 500px;
		  padding-top: 100%;
		  background: #ededed;
		  list-style-type: none;
		  transform-origin: 0% 0%;
		  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
		}

		#menu li {
		  padding: 10px 0;
		  font-size: 22px;

		}
		.forsidesirkel {
	    height:300px;
	    width:300px;
	  }
		.header h1 {
			font-size:3em;
		}
		.videoOverlay {
			margin: 30vh auto;
			padding:5px;
			width:95%;

		}
		.forsideContainer {
		  background-image:url(legemedipadmobil.png);
			background-repeat:no-repeat;
			background-position: center;

		}



}
