body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  height: 2000px;
  overflow-x: hidden;
  font-family: sans-serif;
}

video {
  margin-top: 20vh;
  box-shadow: none;
}

.video {
  display: block;
  max-width: 1000px;

  margin-left: auto;
  margin-right: auto;
}

#arrow-toggle {
  display: block;
  position: absolute;
  height: 8em;
  width: 8em;
  right: 50%;
  text-decoration: none;

  z-index: 2;

  margin-top: 4em;
}

a span {
  display: block;
  height: 3px;
  width: 50px;
  position: absolute;
  background: #C61648;
  bottom: 50%;
  transform: translateY(-50%);
  right: 0%;
}

.arrow {
  transform-origin: 7px -39px;
  transform: rotate(45deg);

}

.arrow2 {
  transform: rotate(-45deg);
}

#arrowtext {
  position: relative;
  font-size: 16px;
  top: 60%;
  transform: translateY(-30%) translateX(30%);
  color: #16242C;
}

/*lager buen som går mot høyre*/
.spanner {
  width: 265%;
  height: 12em;
  border-radius: 100%;
  background: #F2F2F2;
  position: absolute;
  right: -10%;

  z-index: 1;
}

/*tekst*/
.spanner div {
  font-size: 32px;
  text-align: center;
  position: relative;
  left: 70vw;
  bottom: -120%;
}

/*bakgrunnen som gjør at man ser buene over og under*/
.spannerbackground {
  margin-top: 4em;
  height: 24em;
  background: #16242C;

  z-index: -5;
}


.spanner2 {
  width: 250%;
  height: 25vh;
  background: #F2F2F2;
  border-radius: 100%;
  position: absolute;
  margin-top: -6em;
  left: -10%;

  z-index: 1;
}
