body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  height: 2000px;
  overflow-x: hidden;
}

.Navforside {
  margin: 0;
  text-align: center;
  width: 100%;
  list-style: none;
  padding-top: 20px;
}

.Navforside li {
  width: 10%;
  min-width: 150px;
  text-decoration: none;
  display: inline-block;
  border-right: solid 1.5px;
  border-left: solid 1.5px;
}

.Navforside ul {
  padding: 0;
}

.Navforside a {
  list-style: none;
  text-decoration: none;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.Navforside a:hover {
  text-decoration: underline;
}

/*lager buen som går mot høyre*/
.spanner {
  width: 265%;
  height: 200px;
  border-radius: 100%;
  background: #F2F2F2;
  position: absolute;
  right: -10%;

  z-index: 1;
}

/*tekst*/
.spanner div {
  font-size: 32px;
  text-align: center;
  position: relative;
  left: 70vw;
  bottom: -120%;
}
/*bakgrunnen som gjør at man ser buene over og under*/
.spannerbackground {
  margin-top: 4em;
  height: 500px;
  background: #16242C;

  z-index: -5;
}


.spanner2 {
  width: 250%;
  height: 25vh;
  background: #F2F2F2;
  border-radius: 100%;
  position: absolute;
  margin-top: -6em;
  left: -10%;

  z-index: 1;

}


@media screen and (max-width: 800px) {

  .Navforside {
    padding-top: 35px;
  }

  .Navforside li {
    width: 23%;
  }

  .Navforside a {
    font-size: 30px;
  }
}
video{
  box-shadow: none;
}
.video{
  display: block;
  max-width: 1000px;

  margin-left: auto;
  margin-right: auto;
}
